{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Contacts",
    "description": "The contacts API allows you to manage your contacts in Notocat.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.notocat.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "description": "Returns all contacts associated with a newsletter",
        "parameters": [
          {
            "name": "newsletter_id",
            "in": "query",
            "description": "The newsletter ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many contacts per page to return. Default is 100.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The current page. Default is 1.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Used to search by email. The search is case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Used to filter by subscription status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates or updates contacts in bulk",
        "requestBody": {
          "description": "Contacts to add or update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newsletter_id": {
                    "type": "string",
                    "description": "The newsletter ID"
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/NewContact"
                    },
                    "minItems": 1,
                    "maxItems": 1000,
                    "description": "An array of contacts to add or update"
                  }
                },
                "required": ["newsletter_id", "contacts"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "synced": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes contacts in bulk",
        "parameters": [
          {
            "name": "newsletter_id",
            "in": "query",
            "description": "ID of newsletter to delete contacts from",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "By default, only contacts that are not subscribed are deleted. If you want to delete all contacts, you can pass the `subscribed` query parameter with the value `true`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts_removed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "put": {
        "description": "Updates a contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the contact to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The data to update the contact with",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sends": {
      "post": {
        "description": "Creates a send",
        "requestBody": {
          "description": "Transform a Notion page into an issue to be sent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Send created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Send"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sends/{id}/test": {
      "post": {
        "description": "Sends a test email for the specified send",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the send",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Test email configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Test email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendTestResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sends/{id}/send": {
      "post": {
        "description": "Sends an issue to subscribers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the send",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Send configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendIssueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Issue sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendIssueResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The contact ID",
            "type": "string"
          },
          "workspace_id": {
            "description": "The workspace ID",
            "type": "string"
          },
          "name": {
            "description": "The name of the contact",
            "type": "string"
          },
          "first_name": {
            "description": "The first name of the contact",
            "type": "string"
          },
          "last_name": {
            "description": "The last name of the contact",
            "type": "string"
          },
          "email": {
            "description": "The email of the contact",
            "type": "string"
          },
          "subscribed": {
            "description": "Subscription status of the contact",
            "type": "boolean"
          },
          "unsub_token": {
            "description": "Unsubscribe token for the contact",
            "type": "string"
          },
          "custom_fields": {
            "description": "Custom fields of the contact",
            "type": "object"
          },
          "createdAt": {
            "description": "Creation timestamp of the contact",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Last update timestamp of the contact",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NewContact": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "description": "The email of the contact",
            "type": "string"
          },
          "name": {
            "description": "The name of the contact",
            "type": "string"
          },
          "first_name": {
            "description": "The first name of the contact",
            "type": "string"
          },
          "last_name": {
            "description": "The last name of the contact",
            "type": "string"
          },
          "subscribed": {
            "description": "Subscription status of the contact",
            "type": "boolean",
            "default": true
          },
          "custom_fields": {
            "description": "Custom fields for the contact. Can be a `key: value` object or an array of objects. If the value is a date, it must be in ISO format or YYYY-MM-DD to be picked up correctly.",
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the custom field"
                    },
                    "value": {
                      "type": "string",
                      "description": "Value of the custom field"
                    },
                    "type": {
                      "type": "string",
                      "description": "The data type of the custom field. Can be `string`, `number`, `date`. This data is useful when segmenting contacts. If the value is a date, it must be in ISO format or YYYY-MM-DD to be picked up correctly."
                    }
                  },
                  "required": ["name", "value", "type"]
                }
              }
            ]
          }
        }
      },
      "NewSend": {
        "required": ["workspace_id", "page_id"],
        "type": "object",
        "properties": {
          "workspace_id": {
            "description": "The ID of the workspace",
            "type": "string"
          },
          "page_id": {
            "description": "The ID of the Notion page to transform into an issue",
            "type": "string"
          },
          "subject": {
            "description": "The subject line of the email. If not provided, it will be extracted from the Notion page properties.",
            "type": "string"
          },
          "preheader": {
            "description": "The preheader text of the email",
            "type": "string"
          },
          "segment_id": {
            "description": "The ID of the segment to send to. If not provided, all workspace contacts will be used.",
            "type": "string"
          },
          "font": {
            "description": "The font used in the email",
            "type": "string"
          },
          "css": {
            "description": "Custom CSS for the email",
            "type": "string"
          },
          "linkColor": {
            "description": "The color of links in the email",
            "type": "string",
            "default": "#0000ED"
          },
          "dividerColor": {
            "description": "The color of dividers in the email",
            "type": "string",
            "default": "#434343"
          },
          "dividerSize": {
            "description": "The size of dividers in the email",
            "type": "integer",
            "default": 1
          },
          "showCover": {
            "description": "Whether to show the cover image in the email",
            "type": "boolean",
            "default": true
          },
          "trackOpens": {
            "description": "Whether to track email opens",
            "type": "boolean",
            "default": true
          },
          "trackLinks": {
            "description": "Whether to track link clicks",
            "type": "boolean",
            "default": true
          }
        }
      },
      "Send": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the send",
            "type": "string"
          },
          "workspace_id": {
            "description": "The ID of the workspace this send belongs to",
            "type": "string"
          },
          "segment_id": {
            "description": "The ID of the segment this send is targeting (optional)",
            "type": "string"
          },
          "page_id": {
            "description": "The ID of the Notion page this send is based on",
            "type": "string"
          },
          "html": {
            "description": "The HTML content of the email",
            "type": "string"
          },
          "subject": {
            "description": "The subject line of the email",
            "type": "string"
          },
          "preheader": {
            "description": "The preheader text of the email",
            "type": "string"
          },
          "font": {
            "description": "The font used in the email",
            "type": "string"
          },
          "css": {
            "description": "Custom CSS for the email",
            "type": "string"
          },
          "linkColor": {
            "description": "The color of links in the email",
            "type": "string",
            "default": "#0000ED"
          },
          "status": {
            "description": "The status of the send",
            "type": "string",
            "enum": ["draft", "sending", "sent"],
            "default": "draft"
          },
          "dividerColor": {
            "description": "The color of dividers in the email",
            "type": "string",
            "default": "#434343"
          },
          "dividerSize": {
            "description": "The size of dividers in the email",
            "type": "integer",
            "default": 1
          },
          "showCover": {
            "description": "Whether to show the cover image in the email",
            "type": "boolean",
            "default": true
          },
          "sentAt": {
            "description": "The timestamp when the send was sent",
            "type": "string",
            "format": "date-time"
          },
          "trackOpens": {
            "description": "Whether to track email opens",
            "type": "boolean",
            "default": true
          },
          "trackLinks": {
            "description": "Whether to track link clicks",
            "type": "boolean",
            "default": true
          },
          "createdAt": {
            "description": "Creation timestamp",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Last update timestamp",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendIssueRequest": {
        "type": "object",
        "properties": {
          "senderId": {
            "description": "The ID of the sender to use for this send. Defaults to the first sender of your default domain for the workspace. Find sender IDs in your email settings on Notocat.",
            "type": "string"
          }
        }
      },
      "SendIssueResponse": {
        "type": "object",
        "properties": {
          "subscribers": {
            "description": "The number of subscribers the issue was sent to",
            "type": "integer"
          },
          "status": {
            "description": "The status of the send operation",
            "type": "string",
            "enum": ["sending"]
          }
        }
      },
      "SendTestRequest": {
        "required": ["To"],
        "type": "object",
        "properties": {
          "To": {
            "description": "The email address to send the test to",
            "type": "string",
            "format": "email"
          }
        }
      },
      "SendTestResponse": {
        "type": "object",
        "properties": {
          "To": {
            "description": "The recipient email address",
            "type": "string",
            "format": "email"
          },
          "SubmittedAt": {
            "description": "The timestamp when the email was submitted",
            "type": "string",
            "format": "date-time"
          },
          "MessageID": {
            "description": "The unique message ID assigned by Postmark",
            "type": "string"
          },
          "ErrorCode": {
            "description": "Error code if the send failed (0 for success)",
            "type": "integer"
          },
          "Message": {
            "description": "Status message",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}